@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/**/


/***  ===GLOBAL SETTINGS===  ***/

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


/* elements'absolute position within their container*/

div,
article,
section,
header,
main,
footer,
nav,
figure,
li {
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
}

input:focus {
    outline: none;
}


/**** =========MENU========= ***/

.menu {
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0066CC;
    color: #ffffff;
}


/* title */

.menu .left {
    font-size: 20px;
    padding-left: 25px;
}


/* icons */

.menu .right {
    display: flex;
    flex-direction: row;
    padding-right: 25px;
    color: #7fb2e5
}

.menu .right i[class~="fas"] {
    text-decoration: none;
    padding: 0 5px;
}

.menu .right a {
    text-decoration: none;
    color: #7fb2e5;
    padding-right: 10px;
}

.menu .right a:hover {
    color: #cce0f4;
}

;
.fas,
.far {
    cursor: pointer;
}

.login .menu .loginLink,
.signup .menu .signupLink,
.home .menu .homeLink,
.boardMain .menu .boardLink,
.one_card .menu .cardLink,
.edit .menu .cardLink {
    color: #FFFFFF;
    padding-right: 10px;
}


/*** =========ADD========= ***/

.add {
    position: relative;
    display: inline-flex;
    justify-content: center;
    padding: 0.5em;
}

.add input[type=text] {
    font-size: 20px;
    width: 210px;
    margin-top: 17px;
    margin-left: -10px;
    padding: 10px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #cccccc;
    color: #666666;
}

.add input[type=submit] {
    margin-top: 17px;
    padding: 15px;
    border-radius: 0 4px 4px 0;
    border: 1px solid#0066CC;
    background-color: #0066CC;
    color: #ffffff;
}


/***  ========TITLE========  ***/

.title {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.one_card h2,
.title h2 {
    font-size: 30px;
    padding-top: 2px;
}

.title .icons {
    padding: 12px 0 0 10px;
}

.credit {
    padding: 15px 0 25px 0;
    color: #666666;
}

strong {
    color: #0066CC;
}


/***  ========ICONS=======  ***/

.icons {
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.icons {
    margin: 0;
    padding: 0;
}

.icons li p {
    height: 18px;
    font-size: 15px;
    font-weight: 900;
}

.icons li a i {
    font-size: 13px;
    color: #000000;
    padding-right: 3px;
}

.icons li p,
.icons .link input[type=submit] {
    border: none;
    margin-right: 5px;
}

.icons li form input {
    cursor: pointer;
}

.card .icons {
    margin-left: 7px;
}


/***  =====EDIT TITLE=====  ***/

.editTitle {
    display: flex;
    flex-direction: row;
    margin-left: -10px;
}


/* rendre invisible */

.control,
.editTitle input[type="submit"] {
    opacity: 0;
    width: 0;
}


/* position corbeille */

.board .title .link .far {
    margin-top: 1px;
    font-size: 16px;
    margin-left: -10px;
    z-index: 0;
}


/* ordre flex */

.editTitle .control[type="text"] {
    order: 1;
    padding-left: 15px;
    font-size: 20px;
    height: 40px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #cccccc;
}

.editTitle input[type="submit"] {
    order: 2;
    color: #FFFFFF;
    border: 1px solid #0066CC;
    background-color: #0066CC;
    border-right: 2px solid #cccccc;
}

.editTitle h2 {
    order: 3;
    margin-left: -20px;
}

.editTitle label {
    order: 4;
    margin-top: 10px;
    padding-right: 5px;
    padding-left: 10px;
}

.editTitle #toggle {
    order: 5;
    position: relative;
    top: 15px;
    right: 20px;
    transform: scale(2);
    opacity: 0;
}

.editTitle button {
    order: 6;
    color: #FFFFFF;
    border: 1px solid #0066CC;
    background-color: #0066CC;
    border-radius: 0 4px 4px 0;
}


/* action */

#toggle:checked~.control[type="text"] {
    opacity: 100;
    margin-right: -30px;
    width: 750px;
    transition: width 0.2s ease-in-out;
}

#toggle:checked~button {
    opacity: 100;
    position: relative;
    width: 40px;
    right: -20px;
    z-index: 1;
}

#toggle:checked~input[type="submit"] {
    position: relative;
    right: -29px;
    opacity: 100;
    width: 40px;
}

#toggle:checked~h2 {
    font-size: 0;
}

#toggle:checked {
    top: 14px;
    left: 45px;
    transform: scale(3);
    z-index: 2;
}

#toggle:checked~label {
    font-size: 0;
    height: 20px;
}

input:focus,
button:focus,
button:focus:not(:focus-visible) {
    outline: none;
}


/***  =======ERRORS======  ***/

.errors {
    display: block;
    text-align: center;
    color: #851414;
    background-color: #ffe0e5;
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
    padding: 10px 0;
    margin-top: 15px;
    margin-bottom: -10px;
}

.add .errors {
    top: 55px;
    right: 275px;
    width: 275px;
}

.board aside .errors {
    margin: -22px;
    top: 10px;
    padding: 10px;
    width: 280px;
}


/***  ===LOGIN & SIGNUP===   ***/


/***  ====DELETE_CONFIRM===  ***/

.delete_confirm,
.login {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login form {
    margin: auto;
}

.delete_confirm form,
.login form {
    width: 430px;
    margin-top: 25px;
    border-radius: 4px;
    border: 1px solid #cccccc;
}

.delete_confirm form hr,
.login form hr {
    margin: 0 20px;
    border: 1px solid #cccccc;
}

.login form h2 {
    font-size: 30px;
    text-align: center;
    padding: 25px 0;
}

.login form .wrapper {
    margin-top: 25px;
}

.login form .form-row {
    padding: .5em;
    display: flex;
    justify-content: center;
}


/* icons */

.login form .form-row label {
    display: block;
    padding: 10px;
    border-radius: 4px 0 0 4px;
    border-top: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    background-color: #e5e5e5;
    color: #666666;
}

.login form .form-row input {
    width: 340px;
    padding-left: 10px;
    border-radius: 0 4px 4px 0;
    border: 1px solid #cccccc;
}

.login form .form-row input[type=submit] {
    width: 390px;
    font-size: 15px;
    font-weight: bold;
    padding: 11px;
    margin-bottom: 35px;
    border-radius: 4px;
    border: 1px solid #0066CC;
    background-color: #0066CC;
    color: #ffffff;
}


/* delete */

.delete_confirm h2 {
    font-size: 75px;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    color: #b21800;
}

.delete_confirm p {
    text-align: center;
    color: #b21800;
}

.delete_confirm p:nth-child(2) {
    font-size: 30px;
    font-weight: 900;
    padding: 10px 0 25px 0;
}

.delete_confirm p:nth-child(4),
.delete_confirm p:nth-child(5) {
    font-size: 17px;
    font-weight: 900;
}

.delete_confirm p:nth-child(4) {
    padding-top: 15px;
}

.delete_confirm p:nth-child(5) {
    padding: 15px 0 25px 0;
}

.delete_confirm form .wrapper {
    padding-bottom: 20px;
    margin-top: -5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.delete_confirm form input {
    font-size: 18px;
    width: 80px;
    height: 40px;
    border-radius: 4px;
    border: none;
    color: #ffffff;
}

.delete_confirm form input[value=Cancel] {
    margin-right: 5px;
    background-color: #808080;
}

.delete_confirm form input[value=Delete] {
    background-color: #b21800;
}


/***  =====BOARDLIST=====  ***/

.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list article {
    padding: 25px;
}

.list article h2 {
    font-size: 30px;
    font-weight: bold;
}

.list .up .displayBoards {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}

.list .up .yourBoards,
.list .down .otherBoards {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}

.list .up .yourBoards li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list .up .yourBoards li a,
.list .down .otherBoards li a {
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    width: 250px;
    margin-right: 25px;
    margin-top: 17px;
    padding: 10px;
    border-radius: 4px;
}

.list .up .yourBoards li a {
    background-color: #0066CC;
    color: #0066CC;
    border: 1px solid#0066CC;
    color: #ffffff;
}

.list .down .otherBoards li a {
    display: block;
    color: #ffffff;
    background-color: #009900;
    border: 1px solid #009900;
}

.welcome {
    font-size: 20px;
    font-weight: 600;
    margin: 25px 0 0 20px;
}

.welcome a {
    text-decoration: none;
    color: #0066CC;
}


/***  ========BOARD========  ***/

.board article {
    padding-left: 25px;
}


/* add column */

.board aside {
    width: 300px;
    height: 45px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #e5e5e5;
}

.board aside .add {
    margin-bottom: 17px;
    margin-left: 10px;
}


/* column */

.board .column {
    width: 300px;
    padding-bottom: 10px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #e5e5e5;
}

.board .column .title_column {
    width: 260px;
    font-size: 15px;
    padding: 15px 10px 25px 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.board .column .title_column h3 {
    padding-right: 10px;
    padding-top: 2px;
}

.board .column footer .add {
    margin-top: -20px;
    margin-left: 7px;
}


/* columns display */

.board .column_display {
    display: flex;
    flex-direction: row;
    justify-content: start;
}


/* cards list */

.board .column .display_cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board .column .display_cards li {
    padding-bottom: 10px;
}


/* card */

.board .column .card h4 {
    font-size: 15px;
    color: #0066CC;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: 7px;
}

.board .column .card {
    min-height: 65px;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 15px;
    border-radius: 4px;
    background-color: #ffffff;
}


/***  ========CARD========  ***/

.edit article,
.one_card article {
    width: 100%;
    margin: 0 25px;
}

.one_card article {
    display: flex;
    flex-direction: column;
}

.one_card article header {
    padding-bottom: 25px;
    white-space: nowrap;
}

.one_card article header p:last-child {
    color: #666666;
    margin-top: -20px;
}

.one_card .main_card section {
    padding-bottom: 15px;
    margin-top: 10px;
}

.one_card .main_card section h3 {
    font-size: 20px;
    padding-bottom: 15px;
}

.one_card .main_card .display_card div {
    height: 80px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    background-color: #e5e5e5;
}


/***  ======COMMENT======  ***/

.main_comment {
    margin-top: -25px;
    margin-left: 15px;
}

.main_comment .display_one_comment {
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 2px;
}

.main_comment .display_one_comment p {
    padding-right: 5px;
    white-space: nowrap;
}

.main_comment .display_one_comment p:first-child {
    color: #666666;
}

.main_comment .display_one_comment p:nth-child(2) {
    font-weight: bold;
}

.main_comment .display_one_comment .icons {
    margin-top: -2px;
}

.comment footer .add {
    width: 99%;
}

.comment footer .add input[type=text] {
    width: 100%;
}


/***  ======EDIT_CARD======  ***/

.edit h2 {
    font-size: 30px;
    padding-top: 25px;
}

.edit .main_card div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.edit .main_card div:last-child {
    flex-direction: row;
}

.edit .main_card label {
    font-size: 20px;
    font-weight: 900;
    padding-bottom: 10px;
}

.edit .main_card input {
    font-size: 15px;
    height: 35px;
    padding-left: 5px;
    border-radius: 4px;
    border: 1px solid #cccccc
}

.edit .main_card textarea {
    font-size: 15px;
    padding-left: 5px;
    padding-top: 10px;
    resize: none;
    border-radius: 4px;
    border: 1px solid #cccccc
}

.edit .main_card div:nth-child(3) input,
.edit .main_card div:nth-child(4) input {
    background-color: #e5e5e5;
}

.edit .main_card input[type=submit] {
    font-size: 17px;
    height: 40px;
    padding: 10px;
    margin-right: 10px;
    color: #ffffff;
    background-color: #0066CC;
}


/***  ======RESOLUTION=====  ***/

@media screen and (max-width: 620px) {
    .list .up,
    .list.down {
        width: 300px;
    }
    .list {
        justify-content: center;
        align-items: center;
    }
}